.services {
  background: var(--mainGrey);
  padding: 4rem 0;
}
.center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 0.5rem;
}
.service {
  /* box-shadow: var(--lightShadow);
  transition: var(--mainTransition); */

  margin: 1rem 0;
  text-align: center;
}

/* .service:hover {
  box-shadow: var(--darkShadow);
} */

.service span {
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service h4 {
  text-transform: uppercase;
}
